/* .preloader-container {
    width: full;
    height: full;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: red;
}

.loading {
    border-bottom-width: 8px;
    border-color: rgb(255, 38, 0);
    
} */